/* Style index
  Variables
  General
  Pokedex
  Buttons
  Loading message
  Modal

  Colors used:
    black: #000;
    lightgrey: #d3d3d3;
    white;
*/

/* Variables: */
:root {
  --main-color: #000;
  --poke-list: #d3d3d3;
}

/* General: */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 10px;
  font-family: 'Crimson Text', Georgia, serif;
  background-color: #c3cee2;
}

/* Pokedex: */

.app-wrap {
  width: 250px;
}

ul.pokedex-window {
  background-color: white;
  list-style-type: none;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: 5px;
  overflow: auto;
}

/* Buttons */
input[type='button'] {
  width: 250px;
  height: 25px;
  font-size: 1.1em;
  background-color: white;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid white;
}

input[type='button']:hover {
  background-color: lightgreen;
  cursor: pointer;
}

/*  Loading Message: */
.loading-messageBox__show {
  text-align: center;
}

/* Modal */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  position: absolute;
  top: 125px;
}

.modal {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 250px;
  height: 250px;
}


.modal-close {
  float: right;
  border: 0;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  background: red;
}



/* Device screen display optimization: */
 @media all and (max-width: 500px) {
  .app-wrap {
    width: 300px;
  }

  ul.pokedex-window {
    padding: 0;
    width: 300px;
  }

  .modal {
    left: 110px;
    width: 300px;
  }
}
